
  pool:
    vmImage: 'ubuntu-latest'
  variables:
    SONAR: $(SONAR_TOKEN)
  steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: 'sonarcloud'
      organization: 'BCIfernando1989mg'
      scannerMode: 'Other'
      extraProperties: 'sonar.coverage.jacoco.xmlReportPaths=build/reports/jacoco/test/jacocoTestReport.xml'

  - script: ./gradlew clean build -x test -Pbranch=develop
    displayName: 'Build Project'
    
  - script: ./gradlew test -Pbranch=develop
    displayName: 'Unit Testing'
  
  - script: ./gradlew sonarqube -Dsonar.login=$(SONAR_TOKEN) -Pbranch=develop
    displayName: 'Analyzing and generating report'
  - task: SonarCloudPublish@1
    inputs:
      pollingTimeoutSec: '300'

