
  pool:
    vmImage: 'ubuntu-latest'
  variables:
    SONAR: $(SONAR_TOKEN)
  steps:
  #- task: SonarCloudPrepare@1
  #  inputs:
  #    SonarCloud: 'sonarcloud'
  #    organization: 'bcifernando1989mg'
  #    scannerMode: 'Other'
  #    extraProperties: 'sonar.coverage.jacoco.xmlReportPaths=build/reports/jacoco/test/jacocoTestReport.xml'

  #- script: ./gradlew clean build -x test -Pbranch=main
  #  displayName: 'Build Project'

  #- task: Application security testing@2021
  #  inputs:
  #    projectName: 'ms-poc-java2'
  #    enableProxy: false
  #    enableSastScan: true
  #    CheckmarxService: 'Checkmarx SAST'
  #    fullTeamName: 'CxServer'
  #    enableDependencyScan: true
  #    dependencyServerURL: 'checkmarx sca'
  #    scaTeam: 'CxServer'
  
  - task: Kubernetes@1
    inputs:
      connectionType: 'Azure Resource Manager'
      azureSubscriptionEndpoint: 'dev-aks'
      azureResourceGroup: 'ECORG3DSR-RG-AKSAPI001'
      kubernetesCluster: 'ECO-API-DSR-001'
      command: 'get'
      arguments: 'nodes'